<p-tabView>
    <p-tabPanel header="Project">
        <div class="project">
          <div class="formgrid grid">
            <div class="field col-12 md:col-5 c-margin">
              <p-floatLabel>
                <input pInputText id="mainPackage" class="w-full" [(ngModel)]="form.mainPackage" />
                <label for="mainPackage">Package Name</label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-4 c-margin">
              <p-floatLabel>
                <input pInputText id="projectName" class="w-full" [(ngModel)]="form.projectName" />
                <label for="projectName">Project Name</label>
              </p-floatLabel>
            </div>
            <div class="field col-12 md:col-3 c-margin">
              <p-floatLabel>
                <p-dropdown
                  [(ngModel)]="language"
                  (onChange)="onChangeLanguage($event)"
                  [options]="languages"
                  optionLabel="name"
                  class="w-full" />
                <label>Language</label>
              </p-floatLabel>
            </div>
          </div>
          <div class="title-entities">
            <h3>Entidades</h3>
            <p-button (onClick)="onAddEntity()" label="Add Entity" />
          </div>
          <app-entity [entities]="form.entities"></app-entity>
          <hr>
          <div class="title-entities">
            <h3>Enumerations</h3>
            <p-button (onClick)="onAddEnum()" label="Add Enum" />
          </div>
          <app-enumerations [enums]="form.enums" ></app-enumerations>
          <hr>
          <div class="title-entities">
            <h3>Endpoints</h3>
            <p-button (onClick)="onAddEndpoint()" label="Add Endpoint" />
          </div>
          <app-endpoints [endpoints]="form.endpoints" ></app-endpoints>
          <hr>
          <div style="margin-top: 40px;" class="buttons">
            <div style="margin-right: 10px;">
              <p-fileUpload
              mode="basic"
              name="file"
              accept=".json"
              (onSelect)="onUpload($event)"
              maxFileSize="1000000"
              [auto]="true"
              chooseLabel="Loading properties"
              [customUpload]="true" />
            </div>

            <p-button (onClick)="onGenerate()" label="Generate" />

          </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Json">
        <app-json-viewer [jsonText]="jsonViewer"></app-json-viewer>
    </p-tabPanel>
    <p-tabPanel *ngIf="false" header="json-to-formgroup">
      <app-json-to-formcontrol></app-json-to-formcontrol>
    </p-tabPanel>
  </p-tabView>
