.project{
    height: 100%;
    margin-top: 15px;
}
.title{
    margin-bottom: 20px;
}
.entity-generator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .github{
        margin-right: 16px;
    }
}