.project{
    height: 100%;
    margin-top: 15px;
}
.title{
    margin-bottom: 20px;
}
:host::ng-deep {
    .p-button-secondary {
        background-color: #FF9E1B;
    }
    .p-button-secondary:hover {
        background: #FF9E1B;
    }
    .p-tabview .p-tabview-panels{
        height: 100%;
    }
  }